extends layout

block content

    include menubar.html
    section.home(class="home")

        .container(id="headerwrap")
            .row
                .col-md-8.col-md-offset-4
                    h1 MarkLogic Search Demo
                        <section id="home" name="home"></section>

    section.Search(name="Search");"
    .container
        .row
             .col-lg-8
                  p Test me
                  p= title
                  p= session.username
                  p= session.password
                  scritpt 
    footer.container.text-center
            p &copy; 2015 MarkLogic - (NodeJS - AngularJS)   

        include lateload.html
