<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="assets/js/classie.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/smoothscroll.js"></script>
<script src="assets/js/jquery.stellar.min.js"></script>
<script src="assets/js/fancybox/jquery.fancybox.js"></script>
<script src="assets/js/main.js"></script>
<script>
    $(function () {
        $.stellar({
            horizontalScrolling: false,
            verticalOffset: 40
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        //    fancybox
        jQuery(".fancybox").fancybox();
    });
</script>
<script>
    $(document).ready(function(){
        $("#features").on("hide.bs.collapse", function(){
            $(".btn").html('<span class="glyphicon glyphicon-collapse-down"></span> Open');
        });
        $("#features").on("show.bs.collapse", function () {
            $(".btn").html('<span class="glyphicon glyphicon-collapse-up"></span> Close');
        });
        $('[data-toggle="tooltip"]').tooltip();

    });
</script>

