doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/assets/css/bootstrap.css')
    link(rel='stylesheet' href='/assets/css/font-awesome.min.css')
    link(rel='stylesheet' href='/assets/js/fancybox/jquery.fancybox.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    body(data-spy="scroll" data-offset="0" data-target="#theMenu")
    block content
