    <!-- Bootstrap core CSS -->
<link href="assets/css/bootstrap.css" rel="stylesheet">

<nav class="menu" id="theMenu">
    <div class="menu-wrap">
        <h1 class="logo"><a href="#home">ML Demo</a> </h1>
        <i class="fa fa-times menu-close"></i>
        <a href="#home" class="smoothScroll">Start</a>
        <a href="#about" class="smoothScroll">Infos</a>
        <a href="#portfolio" class="smoothScroll">Beispiele</a>
        <a href="#services" class="smoothScroll">Skills</a>
        <a href="#contact" class="smoothScroll">Kontakt</a>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i class="fa fa-bars"></i></div>
</nav>



